<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.in.action.mybaits.multi.datasource.mapper.slave.UsersMapper">

    
    <resultMap id="UserMap" type="spring.in.action.mybaits.multi.datasource.domain.slave.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="selectAll" resultMap="UserMap">
        select * from USERS
    </select>

    <insert id="insert" parameterType="spring.in.action.mybaits.multi.datasource.domain.slave.User">
        insert into USERS (id,name) values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR})
    </insert>
</mapper>